<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/../fragments/head :: head('Editar Faca')}"></th:block>

<body>
    <th:block th:replace="~{/../fragments/head :: header}"></th:block>
    <div class="container">
        <h1>Editar Facas</h1>
        <form action="#" th:action="@{/knife/save}" th:object="${knife}" method="POST">

            <!-- Campo necessário para que o save saiba que não estamos criando, mas editando um produto -->
            <input type="hidden" th:field="*{id}" />

            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{name}" class="form-control" id="name" name="name"
                        placeholder="Digite o nome da faca">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="description">Descrição:</label>
                <div class="col-sm-10">
                    <textarea id="description" th:field="*{description}" class="form-control" name="description"
                        rows="4" cols="50"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="size">Tamanho da Lâmina:</label>
                <div class="col-sm-10">
                    <input type="number" th:field="*{size}" class="form-control" id="size" name="size" step="0.01"
                        placeholder="Digite o tamanho da lâmina">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="year">Ano:</label>
                <div class="col-sm-10">
                    <input type="number" th:field="*{year}" class="form-control" id="year" name="year"
                        placeholder="Digite o ano de fabricação:">
                </div>
            </div>
            <button type="submit" class="btn btn-info col-2"> Atualizar Faca</button>
        </form>
    </div>
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
</body>

</html>