<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1" />
    <title>Listagem de Facas</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
</head>

<body>
    <div class="container pt-5">
        <a th:href="@{/knife/create}">Cadastrar Faca</a>
        <h1>Listagem de Facas</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Tamanho da Lâmina</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="knife : ${knifeList}">
                    <td scope="row" th:text="${knife.name}"></td>
                    <td scope="row" th:text="${knife.description}"></td>
                    <td scope="row" th:text="${knife.size}"></td>
                    <td scope="row" th:text="${knife.year}"></td>
                    <td>
                        <a th:href="@{/knife/delete/{id}(id=${knife.id})}">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>